<div *ngIf="post$ | async as post">
  <div *ngFor="let item of post">
    <mat-card class="post-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img style="width: 50px;height: 50px" src="./assets/images/post.png" alt="">
        </div>
        <mat-card-title>{{item.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          {{item.body}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="clickComments(item.id)" mat-button>Comments</button>
        <button (click)="postId =0" *ngIf="item.id === postId" mat-button>Hide</button>
      </mat-card-actions>
      <div *ngIf="item.id === postId">
        <app-comment></app-comment>
      </div>
    </mat-card>
  </div>
</div>
